<configuration>
	<!-- CLOUD SETTINGS -->
	<storageConnectionString>YOURSTORAGECONNECTIONSTRING</storageConnectionString>
	<containerName>input-images</containerName>
	<queueName>review-queue</queueName>
	<queueNameLocal>review-queue-local</queueNameLocal>

	<documentDbEndpoint>YOURCOSMOSDBENDPOINT</documentDbEndpoint>
	<documentDbKey>YOURCOSMOSDBKEY</documentDbKey>
	<documentDbName>customerReviewData</documentDbName>
	<documentDbCollName>reviews</documentDbCollName>
	<documentDbPartKeyPath>/reviewId</documentDbPartKeyPath>
	<documentDbPartValue>Reviews</documentDbPartValue>
</configuration>