@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Cat Product Reviews</h1>
    <p class="lead">This is a website for cat product reviews</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Browse to the reviews page to start sending us your reviews!
        </p>
    </div>
</div>